.all-pagination span svg {
    font-size: 20px;
    width: 30px;
}

.form-control:disabled {
    background-color: #ffff;
}

.all-pagination .flex.justify-between.flex-1 {
    text-align: center;
    padding-bottom: 11px;
    display: none;
}

.all-pagination p.text-sm{
    text-align: center;
}

.all-pagination span.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.leading-5 {
    background-color: #007bff !important;
    color: #fff;
    border-radius: 4px;
    border: none !important;
    padding: 8px 11px !important;
}

tr.all-detail-table-content td img {
    height: auto;
}

td.badges-actions {
    width: 100px;
}

td.ads-actions {
    width: 100px;
}

.adminEscort-videos {
    position: relative;
    row-gap: 40px;
}
.adminEscort-videos .my-video-player-active video {
    width: 250px;
    height: 250px;
}

.adminEscort-video-thumbnail img.vidio-ply-img {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    bottom: 80px;
}

.adminEscort-videos span.adminEscort-video-delete-from {
    float: right;
    margin-bottom: -42px;
    margin-right: -5px;
    position: relative;
}

.admin-escort-pics .menu-item.inener-pic-data img {
    width: 100%;
    height: 350px;
}

div#AdminUploadModal .modal-content.video-upload-forms {
    width: 33%;
    margin: auto;
    padding: 25px;
    margin-top: 25px;
    padding-right: 0;
    padding-bottom: 25px;
    padding-top: 25px;
}

div#AdminUploadModal button {
    width: 24%;
    height: 40px;
    border: none;
    background-color: #2a3f54;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 8px;
}

div#AdminUploadModal input#thumbnail {
    margin-top: 11px;
}

div#AdminUploadModal button:hover {
    background: #EC8CCC;
}

div#AdminUploadModal span.close {
    background-color: #dc3545;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 25px;
    opacity: inherit;
    padding-bottom: 2px;
}

div#AdminUploadModal span.close:hover {
    background: #dc3545;
}

.adminEscort-videos img.video-thumb9mg {
    width: 100%;
    height: 250px;
}

.admin-escort-pics button.btn.btn-danger {
    float: right;
    margin-bottom: -38px;
    margin-right: 0px;
    position: relative;
}

.admin-escort-pics {
    row-gap: 40px;
}

div#AdminUploadModal button:focus {
    outline: none;
}

p.modal-open-for-addvideo {
    width: 25%;
    border: solid 2px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}
    
.adminAdd-add-more-pic p.add-photo-admin {
    width: 100%;
    border: solid 2px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}
.adminAdd-add-more-pic {
    padding-left: 2px;
}

.adminEscort-videos span.adminEscort-video-delete-from .btn-danger:focus {
    box-shadow: none;
}

.welcome-admin {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.welcome-admin .left_col {
    background: none;
}

.welcome-admin .sidbar-view-add {
    background: #2A3F54;
    min-height: 970px !important;
}

.toast-message {
    color: red;
}
div#toast-container {
    margin-top: 0;
}

.dt-layout-start.col-md-auto.mr-auto button {
    background-color: #fff;
    color: black;
    border: solid 1px #2a3f54;
    border-radius: 3px 3px 3px  3px !important;
}

.dt-layout-start.col-md-auto.mr-auto button:hover {
    color: #fff;
    background-color: #2a3f54;
}
.dt-layout-start div.dt-buttons {
    position: initial;
    gap: 11px;
    margin-bottom: 11px;
}
.dt-layout-start div.dt-buttons button:focus {
    box-shadow: none;
}

.all-detail-table-content button.btn.btn-primary {
    padding: 3px 8px;
    padding-top: 1px;
}
.all-detail-table-content button.btn.btn-primary:focus {
    box-shadow: none !important;
}
.smoker-inner-part .smoker {
    padding: 0;
}



@media only screen and (max-width: 767px) {

.page-title .title_left h3 {
    margin: 9px 0;
    font-size: 20px;
}
.dt-layout-start.col-md-auto.mr-auto button {
    padding: 4px 4px;
}


}
