@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";
/*@import "http://fonts.googleapis.com/icon?family=Material+Icons";*/
@import "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css";

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./font-family/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./font-family/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./font-family/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Urbanist-Regular';
    src: url('./font-family/Urbanist-master/Urbanist-Regular.otf');
}

@font-face {
    font-family: 'Urbanist-Medium';
    src: url('./font-family/Urbanist-master/Urbanist-Medium.otf');
}

@font-face {
    font-family: 'Urbanist-Bold';
    src: url('./font-family/Urbanist-master/Urbanist-Bold.otf');
}

@font-face {
    font-family: 'Urbanist-SemiBold';
    src: url('./font-family/Urbanist-master/Urbanist-SemiBold.otf');
}

.escort-register label {
    font-weight: 600;
    color: #232e48;
}
.escort-register .mx-t3 {
    margin-top: -3rem;
}

.escort-login-form label {
    font-weight: 600;
    color: #666;
}

.escort-login-form .box8 {
    box-shadow: 0px 0px 5px 1px #999;
}

.escort-login-form .mx-t3 {
    margin-top: -3rem;
}

.escort-login-form .form-group {
    margin: auto;
    margin-top: 20px;
}

.escort-login-form .jumbotron.box8 {
    gap: 3px;
}

div#navbarScroll a.nav-link:hover {
    color: #ec8ccc;
}

.quick-links a:hover {
    color: #ec8ccc;
}

.contact-btn a.follow-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.detials-icons a:hover {
    color: #ec8ccc;
}

.slider-section {
    margin: auto;
}

h1 {
    font-size: 48px;
}

ul.dropdown-menu.show .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #5ce1e6;
    border: none;
}

.profile-login-logout .logout-user.show {
    left: -30px;
    top: 35px;
}

nav.navbar ul.dropdown-menu.show .dropdown-item:hover {
    color: #fff;
    background-color: #5ce1e6;
    border: none;
    border-radius: 0;
}

.top-text {
    background-color: #EC8CCC;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 0px 0;
    height: 38px;
    font-family: Montserrat;
    font-weight: bold;
}

.top-text p {
    margin-bottom: 0;
    font-size: 14px;
    font-family: 'Montserrat-Bold';
    text-align: center;
}

.top-text a {
    color: #fff;
    text-decoration: underline;
}

.first-order-img {
    width: 10%;
}

.first-order {
    width: -webkit-fill-available;
}

nav.navbar.navbar-expand-lg {
    background-color: #232e48;
    padding: 24px 24px;
    position: sticky !important;
    top: 0;
    z-index: 999;
    margin: auto;
}
ul.dropdown-menu.show li a {
    font-size: 15px;
    color: #232e48;
}
div#navbarScroll a.nav-link {
    color: #fff;
    font-weight: 500;
    width: 100%;
    padding: 0 15px;
    font-family: 'Montserrat-Bold';
    font-size: 15px;
}

nav.navbar ul.navbar-nav {
    display: flex;
    align-items: center;
    padding: 0 18px;
}

nav.navbar .input-group {
    width: 414px;
    position: relative;
    margin-right: 40px;
}

nav.navbar input#example-search-input {
    border-radius: 50px;
    padding-left: 38px;
    height: 45px;
    font-family: 'Montserrat-Regular';
    border: none;
}

nav.navbar i.fa.fa-search {
    position: absolute;
    left: 14px;
    z-index: 1;
    margin-top: 16px;
    color: #00000066;
}

a#categoriesDropdown:after {
    display: none;
}

nav.navbar a#categoriesDropdown:before {
    content: '';
    background: url('./images/static_img/dropdown-icon.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: -8px;
    margin-top: 6px;
}

nav.navbar .input-group>.form-control:focus {
    border: none;
}

nav.navbar li.nav-item.shop-icon {
    padding-right: 20px;
}

nav.navbar img.img-fluid {
    margin-left: 28px;
    width: 80%;
}

.search-input {
    align-items: center;
    margin-right: 18px;
}

.search-input li.nav-item {
    display: flex;
    height: 30px;
    align-items: first baseline;
}


/* first section css */

.slider-section .card.pmd-card {
    border: none;
    box-shadow: none;
}

.slider-section .owl-carousel .owl-item img {
    display: inline;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.slider-section .card-body {
    position: absolute;
    bottom: 11px;
    color: #fff;
    left: calc(50% - 50px);
}

.slider-section .owl-prev:after {
    content: '';
    background: url("./images/static_img/btn-left.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    left: 30px;
    top: calc(50% - 50px);
}

.slider-section .owl-next:before {
    content: '';
    background: url("./images/static_img/btn-right.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: calc(50% - 50px);
}

.slider-section .owl-prev {
    font-size: 0;
}

.slider-section .owl-next {
    font-size: 0;
}

.slider-section h3.card-title {
    margin-bottom: 5px;
    display: flex;
    align-items: end;
    gap: 4px;
    font-family: 'Montserrat-Bold';
}

.slider-section p.card-text {
    font-weight: 500;
    font-family: 'Montserrat-Bold';
}

/* section second css */

.we-help-growth {
    background-color: #232e48;
    padding: 60px 90px;
    padding-bottom: 80px;
    margin: auto;
}

.we-help-growth h1.your-growth-text {
    font-size: 64px;
    color: #fff;
    font-weight: bold;
    width: 69%;
    line-height: 1.1;
    margin-top: 28px;
    font-family: 'Montserrat-Bold';
}

.we-help-growth h1.your-growth-text span {
    color: #67E1E5;
}

p.our-mission-text {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat-Bold';
}

.we-help-img {
    padding-left: 0;
}

.we-help-right {
    margin-top: -9px;
}

section.we-help-growth .container {
    padding: 0;
    margin-top: 40px;
    margin-left: 0;
}

.we-help-right h3 {
    line-height: 1.3;
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-size: 34px;
    width: 90%;
}

.we-help-right p {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    width: 85%;
    padding: 11px 0;
    padding-bottom: 5px;
}

.we-help-right button {
    border-radius: 25px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #fff;
    background-color: #5CE1E6;
    font-weight: 500;
    font-size: 14px;
}

.we-help-right button a {
    color: #fff;
    text-decoration: none;
}

/* third section css */

.premium-ads {
    background-color: #111624;
    padding: 60px 75px;
    position: relative;
    padding-bottom: 90px;
    margin: auto;
}

.premium-ads .owl-prev:after {
    content: '';
    background: url('./images/static_img/button-left.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    right: -30px;
    top: -135px;
}

.premium-ads .owl-next:before {
    content: '';
    background: url('./images/static_img/button-right.png');
    width: 70px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    right: 72px;
    top: -135px;
}

.premium-ads .owl-prev {
    font-size: 0;
}

.premium-ads .owl-next {
    font-size: 0;
}

.premium-ads h1 {
    font-size: 48px;
    padding-bottom: 11px;
    font-family: Urbanist-SemiBold;
}

.premium-ads p {
    font-size: 16px;
    color: #999999;
    margin-bottom: 0px;
    width: 70%;
    font-family: 'Montserrat-Regular';
}

p.featured-text {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
}

.premium-ads div#card-carousel {
    display: inline-block;
}

.premium-ads div#card-carousel img.img-fluid {
    width: auto;
}

.premium-ads .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

/* Equal Heights for OwlCarousel 2 */
.premium-ads .owl-carousel {
    .owl-stage {
        display: flex;
    }

    .owl-item {
        display: flex;
        flex: 1 0 auto;
    }

    .thumbnail {
        display: flex;
        flex-direction: column;
        margin: 0 15px;

        .caption {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;

            .flex-text {
                flex-grow: 1;
            }
        }
    }
}

.premium-ads .caption h3 {
    display: flex;
    align-items: center;
    width: 100px;
    font-size: 21px;
    padding-top: 9px;
    margin-bottom: 0;
    gap: 8px;
    font-family: 'Urbanist-SemiBold';
}

.premium-ads a.btn.btn-primary.btn-block {
    background-color: #4541FF;
    border: none;
    color: #fff;
    border-radius: 25px;
    width: 100%;
    font-size: 14px;
    padding: 11px 0px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Urbanist-Medium';
}

.premium-ads article.thumbnail.item {
    background-color: #232E48;
    padding: 28px;
    margin-left: 0;
    border: solid 2px #FFBF00;
    border-radius: 15px;
}

.premium-ads .container-fluid {
    padding-left: 0;
}

.premium-ads .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.premium-ads .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

.premium-ads .owl-prev {
    color: #fff;
}

.premium-ads .owl-next {
    color: #fff;
}

/* forth section css */
.services-offer {
    background-color: #232E48;
    padding-top: 60px;
    padding-bottom: 90px;
    margin: auto;
}

.services-offer h1 {
    font-size: 48px;
    font-family: 'Urbanist-SemiBold';
}

.services-offer p.lorem-text {
    width: 75%;
    margin: auto;
    padding: 11px 0;
    font-family: 'Montserrat-Regular';
    font-size: 15px;
}

.services-offer-card {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 35px 25px 45px 25px;
    width: 23%;
    margin: 10px;
    margin-top: 40px;
    border: solid 2px #EC8CCC;
    border-radius: 18px;
}

.services-offer-card:hover a {
    background-color: black;
}

.services-offer-card h3 {
    font-size: 32px;
    padding-bottom: 9px;
    font-family: 'Montserrat-SemiBold';
}

.services-offer-card p {
    font-size: 15px;
    padding-bottom: 18px;
    font-family: 'Montserrat-Regular';
}

.services-offer-card button {
    background-color: #EC8CCC;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    font-size: 14px;
    margin-top: 11px;
}

.services-offer-card:hover {
    background-color: #EC8CCC;
}

.services-offer-card button:hover {
    background-color: #000000;
}

.services-offer-card .btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.services-offer-card a {
    background-color: #EC8CCC;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    font-size: 14px;
    margin-top: 11px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.services-offer-card a:hover {
    background-color: black !important;
}

section.services-offer .container-fluid {
    width: 90%;
    margin: auto;
}

/* five section css */
.profile-moment .owl-carousel .owl-item img {
    display: block;
    width: 95%;
    margin-bottom: 8px;
    border: solid 2px #5CE1E6;
    border-radius: 100%;
}

.profile-moment .owl-prev {
    font-size: 0;
}

.profile-moment .owl-next {
    font-size: 0;
}

.profile-moment .owl-next:after {
    content: '';
    background: url('./images/static_img/button-right.png');
    width: 70px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    right: 72px;
    top: -135px;
}

.profile-moment .owl-prev:before {
    content: '';
    background: url('./images/static_img/button-left.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    right: -30px;
    top: -135px;
}

.profile-moment {
    background-color: #111624;
    padding: 60px 75px;
    position: relative;
    margin: auto;
}

.profile-moment p.featured-text {
    width: 72%;
    padding: 11px 0;
    font-family: 'Montserrat-Regular';
}

.profile-moment h4 {
    font-family: 'Urbanist-SemiBold';
}

.profile-moment p {
    font-family: 'Urbanist-SemiBold';
}

.profile-moment h1 {
    font-size: 48px;
    font-family: 'Urbanist-SemiBold';
}


/* six section css */

.featured-categories .card.card-first {
    border: solid 2px #EC8CCC;
    border-radius: 15px;
}

.featured-categories .card.card-second {
    border: solid 2px #24344C;
    border-radius: 15px;
}


.featured-categories .card.card-third {
    border: solid 2px #228B22;
    border-radius: 15px;
}

.featured-categories .card.card-fourth {
    border: solid 2px #FFD700;
    border-radius: 15px;
    height: 100%;
}

.featured-categories {
    background-color: #232e48;
    padding: 60px 0;
    padding-bottom: 90px;
    margin: auto;
}

.featured-categories h1 {
    font-size: 48px;
    font-family: 'Urbanist-SemiBold';
}

.featured-categories .card-body h3 {
    font-family: 'Montserrat-Bold';
}

.featured-categories .featured-text {
    width: 63%;
    margin: auto;
    padding: 15px 0;
    font-family: 'Montserrat-Regular';
}

.featured-categories .card {
    background: none;
}

.featured-categories .card-deck {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-left: 3%;
    position: relative;
}


.featured-categories .card-body {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.featured-categories button {
    background-color: #4541FF;
    border: none;
    font-size: 14px;
    padding: 12px 60px 13px 60px;
    color: #fff;
    border-radius: 50px;
    font-family: 'Urbanist-Medium';
}

/* seven section css */

.new-escorts .card h4 {
    padding-top: 28px;
    font-family: 'Montserrat-SemiBold';
}

.new-escorts h1 {
    font-family: 'Montserrat-SemiBold';
}

.new-escorts .owl-prev:after {
    content: '';
    background: url('./images/static_img/button-left.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    right: -30px;
    top: -135px;
}

.new-escorts .owl-next:before {
    content: '';
    background: url('./images/static_img/button-right.png');
    width: 70px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    right: 72px;
    top: -135px;
}

.new-escorts .owl-prev {
    font-size: 0;
}

.new-escorts .owl-next {
    font-size: 0;
}

.new-escorts .card p {
    margin-bottom: 5px;
    color: #999999;
    font-family: 'Montserrat-Regular';
}

.escorts-first-content p {
    width: 73%;
    padding: 24px 0px;
    line-height: 1.8;
    font-family: Montserrat-Regular;
    padding-bottom: 5px;
}

.new-escorts .container-fluid {
    margin-top: 35px;
}

.new-escorts {
    background-color: #111624;
    padding: 60px 80px;
    position: relative;
    padding-bottom: 90px;
    margin: auto;
}

.new-escorts .col-carousel {
    padding-left: 0;
}

.new-escorts button {
    background-color: #4541FF;
    border: none;
    color: #fff;
    padding: 10px 60px 10px 60px;
    border-radius: 25px;
    font-size: 14px;
    margin-top: 11px;
    margin-bottom: 11px;
    font-family: 'Urbanist-Medium';
}

.new-escorts a {
    text-align: center;
    margin-top: 11px;
}

.new-escorts .featured-text {
    padding: 11px 0;
    width: 70%;
    font-family: 'Montserrat-Regular';
}

.new-escorts .card {
    background-color: #232E48;
    padding: 28px;
    border-radius: 10px;
    width: 96%;
}

/* eight section css */

section.disclaimer {
    background: url('./images/static_img/disclaimer-bg.png');
    margin: auto;
}

.disclaimer-inner-text {
    width: 90%;
    margin: auto;
    background-color: #00000066;
    padding: 60px 40px;
    padding-bottom: 35px;
    margin-bottom: 60px;
    padding-top: 35px;
}

.disclaimer-inner-text p {
    line-height: 1.6;
    font-family: 'Montserrat-Regular';
    text-align: justify;
}

.disclaimer-inner-text h2 {
    padding-bottom: 11px;
    font-family: 'Montserrat-SemiBold';
}

.stay-upto-date {
    width: 90%;
    background-color: #004AAD;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    display: flex;
    margin-top: 11px;
    position: relative;
}

.stay-upto-left {
    width: 50%;
}

.stay-upto-right {
    width: 50%;
}

.stay-upto-left h2 {
    font-weight: bold;
    width: 100%;
    font-size: 40px;
    font-family: Montserrat-Bold;
}

.stay-upto-right input#InputEmail1 {
    width: 65%;
    margin: auto;
    border-radius: 25px;
    border: none;
    padding: 11px;
    margin-top: 8px;
    padding-left: 50px;
    font-family: 'Montserrat-Regular';
}

.stay-upto-right button {
    display: flex;
    margin: auto;
    background-color: #EC8CCC;
    color: #fff;
    width: 65%;
    padding: 11px;
    border-radius: 25px;
    justify-content: center;
    position: relative;
    border: none;
    font-family: 'Montserrat-Regular';
}

.form-group img {
    position: absolute;
    margin: 12px 115px;
}

.stay-upto-right a {
    text-decoration: none;
}

/* footer section css */

.footer-escorts {
    background-color: #232e48;
    padding: 90px 0;
    color: #fff;
    padding-bottom: 5px;
    margin: auto;
    margin-top: -24px;
}

.quick-links ul {
    padding-left: 0;
    list-style: none;
}

.quick-links a {
    color: #fff;
    line-height: 2.5;
    font-family: 'Montserrat-Regular';
    text-decoration: none;
}

.quick-links h5 {
    padding-bottom: 15px;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
}

.reserved-text {
    border-top: solid 2px #C9C9C9;
    padding-top: 20px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    font-family: 'Montserrat-Regular';
}

.escorts-first-content {
    margin-left: 65px;
}

.quick-links {
    gap: 52px;
}

.escorts-first-content .icons {
    display: flex;
    gap: 14px;
}

div#navbarScroll button {
    border-radius: 20px;
    border: none;
    background-color: #fff;
    padding: 5px 15px 5px 15px;
    color: black;
    font-family: 'Montserrat-SemiBold';
    font-size: 15px;
}

.escort-login-form .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 50px;
    border-radius: 5px;
}

.escort-login-form .form-control:focus {
    box-shadow: none !important;
}

.escort-login-form .box8 {
    box-shadow: none;
}

.login-inner-part {
    display: block;
}

.escort-login-form .box8 {
    box-shadow: none;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.escort-login-form h2.text-info {
    padding-top: 25px;
    color: #67E1E5 !important;
    font-weight: 700;
}

.escort-login-form .form-group {
    width: 100% !important;
    max-width: none;
}

.escort-register h2.text-center.text-info {
    color: #67E1E5 !important;
    font-weight: 700;
    padding-top: 25px;
}

.escort-login-form button.btn.btn-primary {
    display: flex;
    margin: auto;
    margin-top: 35px;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-weight: 500;
    text-transform: math-auto;
    background-color: #4541FF;
}

.login-inner-part a.fw-bold.text-body.float-right.m-1 {
    margin-top: 16px !important;
}

.escort-register {
    margin-top: 50px;
    margin-bottom: 50px;
}

.escort-register .form-control {
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.city-select select {
    height: 50px !important;
    background-color: #fff !important;
}

.age-select select#age {
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
}

.escort-register .form-control:focus {
    box-shadow: none;
    border: none;
}

.register-inner-content {
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.register-inner-content button.btn.btn-primary {
    display: flex;
    margin: auto;
    margin-top: 35px;
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-weight: 500;
    text-transform: math-auto;
    background-color: #4541FF;
}

.table-list .menu-item img {
    height: 250px;
    width: 100%;
}

.table-list p.ingredients {
    font-family: 'Montserrat-Regular';
    padding-top: 11px;
    margin-bottom: 0;
}

.table-list h4 {
    font-family: 'Urbanist-SemiBold';
    color: #fff;
    padding-top: 11px;
}

.table-list p {
    font-family: 'Urbanist-SemiBold';
    color: #999999;
}

.table-list a.btn.btn-primary.btn-block {
    background-color: #4541FF;
    border: none;
    color: #fff;
    border-radius: 25px;
    width: 100%;
    font-size: 14px;
    padding: 11px 0px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Urbanist-Medium';
}

.table-list .menu-item {
    background-color: #232E48;
    padding: 28px;
    border: solid 2px #FFBF00;
    border-radius: 15px;
    margin: 9px;
    flex: 22%;
}

.table-list a.glightbox {
    text-decoration: none;
}

.table-list {
    margin: 50px 0;
    margin-bottom: 0;
}

/*details page css*/

.media-profile a:hover {
    color: #ec8ccc;
}

.escort-dec {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
    overflow: hidden;
}

.escort-details h1.bemy-text {
    font-family: fantasy;
    text-align: center;
    margin-top: -18px;
}

section.escort-details {
    padding: 30px 0;
}

.first-details-content a {
    color: #010e1380;
}

.detials-icons {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}

.second-details-content {
    text-align: center;
}

.members-count {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.members-count span {
    color: rgba(1, 14, 19, .3);
    padding-left: 5px;
}

.second-members-content {
    text-align: center;
    position: relative;
    margin-top: 40px;
}

.second-members-content button {
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    color: #3cb2f6;
    font-size: 11px;
    border-radius: 25px;
    position: absolute;
    left: 150px;
    font-family: 'Montserrat-Regular';
    top: 164px;
}

.second-members-content h3 {
    padding-top: 40px;
    margin-bottom: 0;
    font-family: 'Montserrat-Bold';
}

.second-members-content h3 {
    padding-top: 9px;
    margin-bottom: 0;
}

.members-inner-content i.fas.fa-arrow-left {
    font-size: 18px;
    color: #232e48;
}

.experience-inner-part p {
    margin-bottom: 0;
}

.experience-inner-part span {
    color: gray;
}

.contact-btn {
    margin-top: 40px;
}

.experience-inner-part {
    padding: 18px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    background-color: #f4f5f6;
    text-align: center;
    line-height: 1.8;
}

.contact-btn a.follow-btn {
    background-color: #f4f5f6;
    padding: 9px 35px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
}

.contact-btn a.contact-btn {
    background-color: #3cb2f6;
    padding: 9px 30px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
}

.select-gallary hr {
    height: 0;
}

.media-profile {
    text-align: center;
    margin-bottom: 20px;
}

.media-profile a {
    font-size: 25px;
    margin: 15px;
    color: #fff;
}

div#escort-detail .menu-item img {
    border-radius: 15px;
    width: 100%;
    height: 340px;
    border: solid 1px #FFBF00;
}

div#escort-detail {
    margin-bottom: 0;
    padding-bottom: 50px;
}

section.members-content {
    padding-bottom: 40px;
}

.second-members-content img {
    border-radius: 100%;
    width: 140px;
    height: 140px;
}

.detials-icons a {
    color: #c4ccd0;
}

section.select-gallary {
    background-color: #111624;
    padding-bottom: 40px;
}

div#escort-videos video {
    width: 100%;
    border: solid 1px #FFBF00;
    height: 340px;
    border-radius: 15px;
}

.container-login100-form-btn a {
    text-decoration: none;
}

u.agency-login-back {
    font-family: Montserrat-Regular;
}

/*register css*/

.register-form .form-group input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #555555;
    line-height: 1.2;
    padding: 0 10px;
    height: 46px;
}

.register-form .form-control:focus {
    color: #495057;
    border: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #4541FF;
    border-radius: 5px;
}

.register-form .city-select select {
    background-color: #f7f7f7 !important;
    height: 46px !important;
    font-size: 14px;
    color: #555555;
    background: transparent;
    font-family: Montserrat-Regular;
}

.register-form .age-select select#age {
    background-color: #f7f7f7 !important;
    height: 46px !important;
    font-size: 14px;
    color: #555555;
    background: transparent;
    font-family: Montserrat-Regular;
}

.register-form .container-login100-form-btn {
    margin-top: 25px;
}

span#emailPasswordErr {
    font-size: 13px;
    margin-bottom: 10px;
}

.register-form .form-group {
    margin-bottom: 10px;
}

.already-account p {
    font-family: Montserrat-Regular;
}

.register-form .text-danger {
    color: #dc3545 !important;
    font-size: 13px;
}
.register-form.form-login .login100-form {
    padding: 60px 55px 55px 55px;
    justify-content: flex-start;
}

nav.navbar .input-group>.form-control:focus {
    border: none !important;
    outline: none !important;
    transition: none !important;
    box-shadow: none !important;
}

div#navbarScroll button:hover {
    background-color: #EC8CCC;
    color: #fff;
}
i.fa-solid.fa-cart-shopping {
    font-size: 18px;
    padding-top: 5px;
}

i.fa-solid.fa-user {
    font-size: 18px;
    padding-top: 5px;
}

.forgot-escort-form button.login100-form-btn {
    margin-top: 40px !important;
}
.forgot-escort-form span#emailErr {
    padding-top: 9px;
}

.add-agency-escort button.btn.btn-success {
    float: right;
    margin-bottom: 40px;
    margin-top: -36px;
    background-color: #007bff;
    border: none;
}

.add-agency-escort button.btn.btn-success:hover {
    background-color: #007bff;
}

.add-agency-escort button.btn.btn-success:focus {
    outline: none;
}

.forgot-agency-form button.login100-form-btn {
    margin-top: 40px !important;
}

.forgot-agency-form span#emailErr {
    padding-top: 9px;
}
.add-agency-escort {
    margin-top: 30px;
}
.add-agency-escort button.btn.btn-success:focus-visible {
    box-shadow: none;
    outline: none;
}
/*add-escort-css*/

.container.agency-add-escort-containt {
    margin-top: 15px;
    margin-bottom: 100px;
}
.agency-add-escort-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-top: 20px;
}
.agency-add-escort-title button {
    background-color: #007bff;
    border: none;
}
.agency-add-escort-title button:hover {
    background-color: #007bff;
    border: none;
}
.agency-add-escort-title button:focus-visible {
    background-color: #007bff;
    border: none;
    box-shadow: none;
    outline: none;   
}
.agency-add-escort-title button:focus {
    box-shadow: none;
}
.agency-add-escort-containt label {
    padding-top: 11px;
    margin-bottom: 2px;
}

/*add-escort-css*/

@media (min-width:768px) and (max-width:1024px) {

    span.navbar-toggler-icon i.fa.fa-bars {
        font-size: 30px;
    }

    .we-help-growth {
        padding: 40px 40px;
        width: 100%;
    }

    .we-help-growth h1.your-growth-text {
        font-size: 50px;
        width: 100%;
    }

    .we-help-growth .we-help {
        display: block;
    }

    .we-help-img {
        padding-left: 15px;
        width: 100%;
        max-width: 100%;
    }

    .we-help-right {
        margin-top: 30px;
        width: 100%;
        max-width: 100%;
    }

    .we-help-right h3 {
        width: 100%;
        font-size: 30px;
    }

    .we-help-right button {
        padding: 10px 40px 10px 40px;
        font-size: 16px;
    }

    .premium-ads {
        padding: 40px 40px;
        width: 100%;
        margin: auto;
    }

    .premium-ads article.thumbnail.item {
        padding: 18px;
    }

    .toggle-bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .services-offer h1 {
        font-size: 40px;
    }

    .services-offer p.lorem-text {
        width: 100%;
        padding-bottom: 30px;
    }

    .services-offer-card {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
        padding: 25px 25px 25px 25px;
    }

    .services-offer {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
    }

    .profile-moment {
        padding: 40px 40px;
        width: 100%;
    }

    .profile-moment h1 {
        font-size: 40px;
    }

    .featured-categories h1 {
        font-size: 40px;
    }

    .featured-categories .featured-text {
        width: 89%;
    }

    .featured-categories .card-deck {
        display: block;
        width: 40%;
        margin: auto;
        margin-left: auto;
        margin-top: 25px;
    }

    .featured-categories img.card-img-top {
        width: 100%;
        margin: auto;
    }

    .featured-categories .card {
        background: none;
        margin-bottom: 30px;
    }

    .featured-categories .card-body {
        bottom: 80px;
        left: auto;
        width: 100%;
    }

    .featured-categories {
        padding: 40px 0;
        padding-bottom: 5px;
        width: 100%;
    }

    .new-escorts h1 {
        font-size: 36px;
    }

    .new-escorts {
        padding: 40px 40px;
        width: 100%;
    }

    .new-escorts .featured-text {
        width: 100%;
    }

    .new-escorts .owl-next:before {
        right: 68px;
        top: -68px;
        width: 65px;
    }

    .new-escorts .owl-prev:after {
        width: 85px;
        right: -30px;
        top: -70px;
    }

    .new-escorts .card {
        padding: 15px;
        width: 100%;
    }

    .new-escorts button {
        font-size: 10px;
    }

    .disclaimer-inner-text {
        width: 95%;
        padding: 40px 30px;
    }

    .stay-upto-date {
        width: 95%;
        display: block;
    }

    .stay-upto-left {
        width: 100%;
    }

    .stay-upto-left h2 {
        width: 100%;
        font-size: 38px;
        line-height: 1.4;
    }

    .stay-upto-right input#InputEmail1 {
        width: 100%;
        margin-top: 21px;
    }

    .stay-upto-right button {
        width: 100%;
    }

    .form-group img {
        position: absolute;
        margin: 12px 15px;
    }

    .quick-links {
        gap: 28px;
    }

    .escorts-first-content {
        margin-left: 19px;
    }

    .reserved-text {
        width: 100%;
        margin-top: 0;
    }

    .quick-links h5 {
        font-size: 14px;
    }

    .premium-ads h1 {
        font-size: 40px;
        padding-bottom: 0;
    }

    nav.navbar ul.navbar-nav {
        line-height: 3.5;
        align-items: flex-start;
    }

    button.navbar-toggler.collapsed {
        background-color: #fff;
    }

    button.navbar-toggler {
        background-color: #fff;
    }

    .we-help-img img {
        width: inherit;
    }

    div#navbarScroll a.nav-link {
        padding-left: 11px;
    }

    .new-escorts .col-carousel {
        padding-left: 0;
        margin-top: 40px;
    }

    .premium-ads .owl-carousel {
        margin-top: 50px;
    }

    .premium-ads p {
        width: 100%;
    }

    .premium-ads .owl-next:before {
        width: 65px;
        right: 80px;
        top: -100px;
    }

    .premium-ads .owl-prev:after {
        width: 60px;
        right: 5px;
        top: -101px;
    }

    .services-offer-card p {
        width: 85%;
        margin: auto;
        padding-bottom: 18px;
    }

    nav.navbar .show:before {
        right: 62px !important;
    }

    nav.navbar a#categoriesDropdown:before {
        right: -12px;
        margin-top: 22px;
    }

    .premium-ads a.btn.btn-primary.btn-block {
        padding: 8px 0px;
    }

    .profile-moment .owl-next:after {
        width: 60px;
        right: 88px;
        top: -90px;
    }

    .profile-moment p.featured-text {
        width: 100%;
    }

    .profile-moment .col-carousel {
        margin-top: 30px;
    }

    .profile-moment .owl-prev:before {
        width: 80px;
        right: -11px;
        top: -90px;
    }

    .featured-categories button {
        padding: 12px 50px 13px 50px;
    }

    .escorts-first-content p {
        width: 100%;
    }

    nav.navbar .input-group {
        width: 400px;
        margin-left: 20px;
    }

    .featured-categories .card.card-fourth {
        height: auto;
    }

    nav.navbar.navbar-expand-lg {
        width: 100%;
        margin: auto;
    }

    .slider-section {
        width: 100%;
        margin: auto;
    }

    section.disclaimer {
        width: 100%;
    }

      .footer-escorts {
        width: 100%;
        padding: 60px 0;
    }

    .tab-content .menu-item {
        display: flex;
        width: 50%;
    }

    .media-profile {
        margin-bottom: 40px;
    }

    .table-list .menu-item {
        flex: 32%;
        text-align: center;
    }

    .table-list .menu-item img {
        height: 300px;
        width: 100%;
    }

    .dropdown-item {
        line-height: 1.9;
    }

    .second-members-content {
        margin-top: 20px;
    }

    .contact-btn a.contact-btn {
        padding: 9px 55px;
    }

    .contact-btn a.follow-btn {
        padding: 9px 60px;
    }

    .table-list .tab-content .menu-item {
        display: block;
    }
   .form-login .wrap-login100 {
    display: block !important;
    }

    .form-login .login100-form {
        width: 100% !important;
        min-height: 0px !important;
    }

    .form-login .login100-more {
        height: 500px !important;
        width: 100% !important;
    }

    .form-login {
        margin-top: -88px !important;
    }

    .register-form {
        margin-top: -45px !important;
    }
    div#agencies_escort_wrapper {
        overflow-y: scroll;
    }

    }


@media only screen and (max-width: 767px) {


    .form-login .wrap-login100 {
        display: flex;
    }

    .first-order-img {
        width: 13%;
    }

    .first-order-img img {
        width: 20px;
    }

    nav.navbar.navbar-expand-lg button.navbar-toggler {
        height: 45px;
    }
    
    .profile-login-logout .logout-user.show {
        left: -90px;
        top: 40px;
    }

    .form-login .login100-more {
        height: 480px;
        width: 100% !important;
    }

    .form-login .login100-form {
        display: block;
        padding: 30px 25px 30px 25px !important;
        min-height: 0px !important;
    }

    .dropdown-item {
        line-height: 1.9;
    }

    nav.navbar.navbar-expand-lg {
        width: 100%;
        margin: auto;
    }

    .slider-section {
        width: 100%;
        margin: auto;
    }

    section.escort-details {
        padding-bottom: 20px;
    }

    .we-help-growth {
        width: 100%;
        margin: auto;
    }

    .premium-ads {
        width: 100%;
        margin: auto;
    }

    .toggle-bar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .services-offer {
        width: 100%;
        margin: auto;
    }

    div#agencies_escort_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
       text-align: left;
    }

    .form-login .login100-form {
       display: block;
       padding: 30px 25px 30px 25px !important;
       min-height: 0px !important;
    }

    .profile-moment {
        width: 100%;
        margin: auto;
    }

    .new-escorts {
        width: 100%;
        margin: auto;
    }

    section.disclaimer {
        width: 100%;
        margin: auto;
    }

    .featured-categories {
        width: 100%;
        margin: auto;
    }

    span.navbar-toggler-icon i.fa.fa-bars {
        font-size: 30px;
    }

    .services-offer-card h3 {
        font-size: 27px;
    }

    .reserved-text p {
       margin-bottom: 0;
    }

    .footer-escorts {
        width: 100%;
        margin: auto;
        margin-top: 0px;
        padding: 40px 0;
    }
    .featured-categories .card.card-fourth {
        height: auto;
    }

    div#navbarScroll {
        position: relative;
    }

    nav.navbar .show:before {
        right: 73px !important;
    }

    nav.navbar a#categoriesDropdown:before {
        right: -28px;
        margin-top: 22px;
    }
    div#forgot-escort-form-id.form-login .container-login100 {
        width: 100%;
        min-height: auto;
    }

    button.navbar-toggler.collapsed {
        background-color: #fff;
    }

    button.navbar-toggler {
        background-color: #fff;
    }

    nav.navbar ul.navbar-nav {
        display: flex;
        align-items: baseline;
        padding: 0 28px;
        line-height: 3.5;
        padding-left: 0;
    }

    nav.navbar .input-group {
        width: auto;
        margin-right: 0px;
    }

    div#navbarScroll a.nav-link {
        padding: 0 0px;
    }

    .top-text {
        height: 68px;
        gap: 25px;
        text-align: left;
    }

    .forgot-agency-form .container-login100 {
        width: 100%;
        min-height: 82vh !important;
    }
    .reset-escort .container-login100 {
        width: 100%;
        min-height: 94vh !important;
    }
    .experience-inner-part {
        margin-bottom: 29px;
    }

    .contact-btn {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .contact-btn a.contact-btn {
        margin-left: 0;
    }

    .search-input {
        align-items: center;
        margin-right: 0;
        justify-content: space-between;
    }

      .top-text p {
        font-size: 19px;
        padding-left: 0px;
        width: 92%;
        margin: auto;
    }

    section.members-content {
        padding-bottom: 25px;
    }

    .we-help-growth {
        padding: 40px 24px;
    }

    .we-help-growth h1.your-growth-text {
        font-size: 45px;
        width: 100%;
        text-align: center;
        margin-top: 11px;
    }

    .we-help-img {
        padding-left: 15px;
    }

    .we-help-right h3 {
        padding-top: 30px;
        font-size: 28px;
        width: 100%;
        text-align: center;
    }

    .we-help-right p {
        font-size: 18px;
        font-family: 'Montserrat-Regular';
        width: 100%;
        text-align: center;
    }

    .premium-ads {
        padding: 40px 24px;
        padding-bottom: 100px;
    }

    nav.navbar img.img-fluid {
        margin-left: 0;
        width: 100%;
    }

    .we-help-right button {
        padding: 10px 40px 10px 40px;
        margin: auto;
        display: flex;
    }

    .premium-ads p {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .premium-ads article.thumbnail.item {
        margin-left: 0;
        width: 100%;
        margin-right: 0;
        margin-left: 15px;
    }

    .services-offer h1 {
        font-size: 36px;
    }

    .services-offer p.lorem-text {
        width: 100%;
    }

    .services-offer-card {
        width: 100%;
        margin: 0;
        margin-top: 30px;
        padding: 35px 25px 30px 25px;
    }

    .services-offer-card button {
        padding: 10px 35px 10px 35px;
        margin-top: 0;
    }

    .services-offer {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .profile-moment {
        padding: 40px 24px;
        padding-bottom: 100px;
        text-align: center;
    }

    .profile-moment h1 {
        font-size: 36px;
    }

    .profile-moment p.featured-text {
        width: 100%;
        font-size: 14px;
        margin-bottom: 0;
    }

    .featured-categories {
        padding: 40px 0;
    }

    .featured-categories h1 {
        font-size: 36px;
    }

    .featured-categories .featured-text {
        width: 90%;
        margin: auto;
    }

    .featured-categories .card-deck {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .featured-categories img.card-img-top {
        width: auto;
    }

    .featured-categories .card-body {
        left: auto;
        bottom: 89px;
    }

    .featured-categories {
        padding: 40px 0;
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .new-escorts {
        padding: 40px 24px;
        padding-bottom: 95px;
        text-align: center;
    }

    .new-escorts h1 {
        font-size: 36px;
        text-align: center;
    }

    .new-escorts .featured-text {
        width: 100%;
        text-align: center;
    }

    .new-escorts .card {
        width: 100%;
    }

    .disclaimer-inner-text {
        width: 100%;
        padding: 40px 25px;
        text-align: center;
        padding-bottom: 8px;
        padding-top: 0;
    }

    .stay-upto-date {
        width: 90%;
        display: block;
    }

    .featured-categories .card-deck .card {
        margin-bottom: 25px;
    }

    .we-help-img img {
        width: 100%;
    }

    .stay-upto-left {
        width: 100%;
    }

    .stay-upto-left h2 {
        width: 100%;
        font-size: 28px;
        line-height: 1.4;
    }

    .stay-upto-right input#InputEmail1 {
        width: 100%;
    }

    .stay-upto-right button {
        width: 100%;
    }

    .stay-upto-right button {
        width: 100%;
    }

    .form-group img {
        position: absolute;
        margin: 12px 15px;
    }

    .stay-upto-right {
        width: 100%;
        margin-top: 28px;
    }

    .escorts-first-content {
        margin-left: 0px;
    }

    .escorts-first-content p {
        width: 100%;
    }

    .quick-links {
        gap: 30px;
    }

    .quick-links h5 {
        padding-bottom: 0;
    }

    .reserved-text {
        width: 100%;
        margin-top: 0;
    }

    .disclaimer-inner-text p {
        text-align: justify;
    }

    .new-escorts .owl-next:before {
        right: 0;
        top: auto;
        bottom: -120px;
        left: calc(42% - 50px);
    }

    .new-escorts .owl-prev:after {
        right: 0;
        top: auto;
        bottom: -120px;
        left: calc(68% - 50px);
    }

    .new-escorts .col-carousel {
        padding-left: 0px;
        padding-right: 0px;
    }

    .profile-moment .owl-next:after {
        right: 0;
        top: auto;
        bottom: -120px;
        left: calc(42% - 50px);
    }

    .profile-moment .owl-prev:before {
        right: 0;
        top: auto;
        bottom: -120px;
        left: calc(70% - 50px);
    }

    .premium-ads .owl-next:before {
        right: 0;
        top: auto;
        bottom: -120px;
        left: calc(45% - 50px);
    }

    .premium-ads .owl-prev:after {
        right: 0;
        top: auto;
        bottom: -120px;
        left: calc(70% - 50px);
    }

    .premium-ads h1 {
        font-size: 36px;
        padding-bottom: 0;
        text-align: center;
    }

    p.our-mission-text {
        text-align: center;
    }

    .premium-ads .caption h3 {
        width: 44%;
        margin: auto;
    }

    .slider-section h3.card-title {
        justify-content: center;
    }

    .slider-section .card-body {
        left: auto;
        width: 100%;
    }

    .slider-section h3.card-title img {
        width: 30px !important;
    }

    .search-input li.nav-item {
        display: flex;
        margin-left: 14px;
    }

    .profile-moment .owl-carousel .owl-item img {
        width: 100%;
        border-radius: 100%;
    }

    nav.navbar i.fa.fa-search {
        margin-top: 14px;
    }

    .escorts-first-content .icons img {
        width: 38px;
    }

    .members-count {
        justify-content: center;
        margin-top: 0px;
    }

    .media-profile {
        margin-bottom: 35px;
    }

    div#escort-detail .menu-item img {
        width: 90%;
        display: flex;
        margin: auto;
    }

    .second-members-content {
        margin-top: 11px;
    }

    section.select-gallary {
        padding-bottom: 0px;
    }

    div#escort-list {
        display: block;
    }

    .table-list a.btn.btn-primary.btn-block {
        margin-bottom: 0;
    }

    .table-list .menu-item {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .table-list .menu-item img {
        height: 300px;
        width: 100%;
    }

    .escort-login-form .box8 {
        width: 100%;
    }

    .escort-login-form h2.text-info {
        padding-top: 0;
    }

    .escort-login-form .form-control {
        height: 42px;
    }

    .escort-login-form .form-group {
        margin: auto;
        margin-top: 0;
    }

    .register-inner-content {
        width: 100%;
        margin: auto;
        margin-top: 25px;
    }

    .escort-register .form-control {
        height: 42px !important;
    }

    .register-inner-content button.btn.btn-primary {
        width: 60%;
    }

    .login-inner-part input#email {
        margin-bottom: 15px;
    }

    .login-inner-part p.text-center.text-muted.mt-3.mb-0 {
        margin-top: 50px !important;
    }

    .login-inner-part a.fw-bold.text-body.float-right.m-1 {
        margin-top: 16px !important;
        width: 100%;
        text-align: center;
    }

    .escort-register h2.text-center.text-info {
        padding-top: 0;
    }

    .form-login button.signup-btn {
      height: 42px !important; 
    }
    .form-login button.login100-form-btn {
        height: 42px !important ;
        margin-top: 22px !important;
    }
    div#agencies_escort_wrapper {
        overflow-y: scroll;
    }

    }

    /*Dashboard Login*/

    input {
        outline: none;
        border: none;
    }

    textarea {
        outline: none;
        border: none;
    }

    .form-login {
        width: 100%;
        margin: 0 auto;
    }

    .form-login .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: #f2f2f2;
    }

    .form-login .wrap-login100 {
        width: 100%;
        background: #fff;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: row-reverse;
    }

    .form-login .login100-more {
        width: calc(100% - 560px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
    }

    .form-login .login100-more::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
    }

    .form-login .login100-form {
        width: 560px;
        min-height: 100vh;
        background-color: #f7f7f7;
        padding: 60px 55px 55px 55px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .form-login .login100-form-title {
        width: 100%;
        display: block;
        font-family: Urbanist-SemiBold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 25px;
    }

    .form-login .wrap-input100 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        height: 46px;
        position: relative;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .form-login .label-input100 {
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #999999;
        line-height: 1.2;
        display: block;
        position: absolute;
        pointer-events: none;
        width: 100%;
        padding-left: 24px;
        left: 0;
        top: 30px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .form-login .input100 {
        display: block;
        width: 100%;
        background: transparent;
        font-family: Montserrat-Regular;
        font-size: 14px;
        color: #555555;
        line-height: 1.2;
        padding: 0 10px;
    }

    .form-login input.input100 {
        height: 100%;
    }

    .form-login .focus-input100 {
        position: absolute;
        display: block;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        pointer-events: none;
        border: 1px solid #6675df;
        border-radius: 10px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transform: scaleX(1.1) scaleY(1.3);
        -moz-transform: scaleX(1.1) scaleY(1.3);
        -ms-transform: scaleX(1.1) scaleY(1.3);
        -o-transform: scaleX(1.1) scaleY(1.3);
        transform: scaleX(1.1) scaleY(1.3);
    }

    .form-login .validate-input {
        position: relative;
    }

    .form-login .alert-validate::before {
        content: attr(data-validate);
        position: absolute;
        z-index: 100;
        max-width: 70%;
        background-color: #fff;
        border: 1px solid #c80000;
        border-radius: 2px;
        padding: 4px 25px 4px 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 12px;
        pointer-events: none;
        font-family: Poppins-Regular;
        color: #c80000;
        font-size: 13px;
        line-height: 1.4;
        text-align: left;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
    }

    .form-login .alert-validate::after {
        content: "\f12a";
        font-family: FontAwesome;
        display: block;
        position: absolute;
        z-index: 110;
        color: #c80000;
        font-size: 16px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 18px;
    }

    .form-login .alert-validate:hover:before {
          visibility: visible;
          opacity: 1;
    }

    @media (max-width: 992px) {
        .form-login .alert-validate::before {
            visibility: visible;
            opacity: 1;
        }
    }

    .form-login .login100-form-social-item {
        width: 36px;
        height: 36px;
        font-size: 18px;
        color: #fff;
        border-radius: 50%;
    }

    .form-login .login100-form-social-item:hover {
        background: #333333;
        color: #fff;
    }

    .form-login .flex-sb-m {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        -ms-align-items: center;
        align-items: center;
        padding-bottom: 32px;
    }

    .form-login button.login100-form-btn {
        border: 1px solid #4541FF;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        background: #4541FF;
        font-family: Montserrat-Bold;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .4s;
        margin-bottom: 15px;
        margin-top: 25px;
    }

    .form-login button.login100-form-btn:hover {
        border: 1px solid #232e48;
        background-color: #232e48;
    }

    .form-login button.signup-btn {
        border: 1px solid #5CE1E6;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        background: #5CE1E6;
        font-family: Montserrat-Bold;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .4s;
    }

    .form-login button.signup-btn:hover {
        border: 1px solid #232e48;
        background-color: #232e48;
    }

    .form-login span.txt2 {
        font-family: Montserrat-Regular;
        font-size: 13px;
        line-height: 1.4;
        color: #999;
    }

    .form-login .text-center.p-t-46.p-b-20 {
        padding-top: 45px;
    }

    .form-login .contact100-form-checkbox label {
        margin-bottom: 0px;
        font-size: 14px;
        font-family: Montserrat-Regular;
    }

    .form-login input.input100:focus {
        border: 1px solid #4541FF;
        border-radius: 5px;
    }

    .form-login a.txt1 {
        color: #000000;
        font-size: 14px;
        font-family: Montserrat-Regular;
    }